body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body
{ 
    background-image:url('/images/janee.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
}